<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59064014171-87ubpjcu4itf3k7n9hm39ofctibd0pgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59064014171-87ubpjcu4itf3k7n9hm39ofctibd0pgd</string>
	<key>API_KEY</key>
	<string>AIzaSyBeSEttyRc5siIPTZDU5JaK0i4qVF747yM</string>
	<key>GCM_SENDER_ID</key>
	<string>59064014171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taosil</string>
	<key>PROJECT_ID</key>
	<string>taosil-2002bc</string>
	<key>STORAGE_BUCKET</key>
	<string>taosil-2002bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59064014171:ios:dab2de6711382dc33db67e</string>
</dict>
</plist>